#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/assets/images/Background_Intro.png);
    background-size: cover;
    height: 750px;
    margin-inline: auto;

    & > img:nth-child(2) {
        width: 32px;
        margin-top: 94px;
    }
}

#info {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 80px;
}

#info header {
    width: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

h1 {
    color: var(--gray-600);
    margin: 8px 0 20px;
}

#content-tag {
    display: flex;
    align-items: center;
    gap: 16px;

    .icon {
        height: 40px;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 16px;
        border-radius: 999px;
        background-color: var(--gray-300);
    }

    .icon:nth-child(1) {
        width: 114px;

        svg path {
            fill: var(--gray-500);
        }
    }

    .icon:nth-child(2) {
        width: 105px;

        svg path {
            fill: var(--red);
        }
    }

    .icon:nth-child(3) {
        width: 92px;

        svg path {
            fill: var(--blue);
        }
    }

    .icon:nth-child(4) {
        width: 138px;

        svg path {
            fill: var(--yellow);
        }
    }

    .icon:nth-child(5) {
        width: 106px;

        svg path {
            fill: var(--blue);
        }
    }

    .icon:nth-child(6) {
        width: 119px;

        svg path {
            fill: var(--green);
        }
    }
}
